$primary-palette: (
    50 : #e1e8ed,
    100 : #b3c6d2,
    200 : #80a1b5,
    300 : #4d7b97,
    400 : #275e80,
    500 : #01426a,
    600 : #013c62,
    700 : #013357,
    800 : #012b4d,
    900 : #001d3c,
    A100 : #72a8ff,
    A200 : #3f89ff,
    A400 : #0c6aff,
    A700 : #005df1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$accent-palette: (
    50 : #fff8e0,
    100 : #ffeeb3,
    200 : #ffe380,
    300 : #ffd74d,
    400 : #ffcf26,
    500 : #ffc600,
    600 : #ffc000,
    700 : #ffb900,
    800 : #ffb100,
    900 : #ffa400,
    A100 : #ffffff,
    A200 : #fffaf2,
    A400 : #ffe5bf,
    A700 : #ffdba6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

